* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paginaPrincipal {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  filter: brightness(50%);
}
.paginaPrincipal .cuerpoPrincipal {
  background-image: url(../assets/imagenes/fondoalimentos.png);
  filter: brightness(100%);
  /*background-color: #085218;*/
  position: relative;
}
.paginaPrincipal .cuerpoPrincipal .carousel-item {
  height: 70vh;
    
}
.paginaPrincipal .cuerpoPrincipal .corousel-item .colorTitulo{
  color:#050505;
}
.paginaPrincipal .cuerpoPrincipal .carousel-item .carousel-inner {
  width: 90%;
}
.paginaPrincipal .cuerpoPrincipal .separador {
  color: #301a91;
}
.paginaPrincipal .cuerpoPrincipal .separador .inicioEjemplo{
  color: red;
  size: 2rem;
}
.paginaPrincipal .cuerpoPrincipal .separador .imgServ {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .separador .textoParrafo{
  color: #04AA6D;
}
.paginaPrincipal .cuerpoPrincipal .imgRec {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .imgCon {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .barra {
  background: radial-gradient(circle farthest-corner at center center, #1d00ff 0%, #ffb100 80%);
  border: #2C3B2F;
}
.paginaPrincipal .cuerpoPrincipal .letra {
  color: red;
}
.paginaPrincipal .cuerpoPrincipal .card {
  display: flex;
  align-items: center;
  text-align: center;
}
.paginaPrincipal .cuerpoPrincipal .cartaPresentacion {
  display: flex;
}
.paginaPrincipal .cuerpoPrincipal .cartaPresentacion .cartaCuerpo {
  text-align: center;
}
.paginaPrincipal .cuerpoPrincipal .recetario {
  margin: 10px 10px;
}
.paginaPrincipal .cuerpoPrincipal .recetario .imagenComida {
  width: 100vh;
  height: 200px;
}
.paginaPrincipal .cuerpoPrincipal .imagenServicio {
  height: 100px;
  width: 100vh;
  display: flex;
}
.paginaPrincipal .cuerpoPrincipal .letraLista {
  color: chocolate;
}
.paginaPrincipal .cuerpoPrincipal .imgServ {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .imgRec {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .imgCon {
  width: 80vh;
}
.paginaPrincipal .cuerpoPrincipal .card-img-top {
  height: 50px;
  width: 100vh;
}
.paginaPrincipal .cuerpoPrincipal .carta {
  background: linear-gradient(66deg, #ff0000 0%, #009dff 80%);
  box-shadow: -17px 12px 132px 19px rgba(0, 0, 0, 0.76);
}
.paginaPrincipal .cuerpoPrincipal .carta .imgMia{
  height: 100%;
}
.paginaPrincipal .cuerpoPrincipal .linkTurno {
  color: #ff0000;
}
.paginaPrincipal .cuerpoPrincipal .linkReceta {
  color: #ff0000;
}
.paginaPrincipal .cuerpoPrincipal .mapa {
  height: 300px;
  text-align: center;
  padding-left: 38%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.paginaPrincipal .cuerpoPrincipal .divCont{
  
  /*width: 50%;*/
  padding-right: 28%;
  }

.divCont:hover .mapa{
  opacity: 0.3;
}
.divCont:hover .medio{
  opacity: 1;
}
.medio{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.texto{
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.paginaPrincipal .cuerpoPrincipal .divCont .divImagen{
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.paginaPrincipal .cuerpoPrincipal .botones {
  align-items: center;
  text-align: center;
  margin: 2px;
}
.paginaPrincipal .cuerpoPrincipal .botonCampo {
  background-color: #940442;
}

body {
  padding-top: 3em;
  color: #5a5a5a;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

.piePagina {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  padding: 1em;
  text-align: center;
}
.piePagina .face {
  color: #1d00ff;
}
.piePagina .insta {
  color: #7c0e45;
}
.piePagina .wpp {
  color: #05cf27;
}
.piePagina .shadow-pop-br .shadow-pop-br {
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/*
.piePagina{
    position: sticky;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: flex;
}
*/
/*
  .carousel-item{
    height: 70vh;
  }
    .carousel-inner{
        width: 90%;
    }
*/
/*  
.imgServ{
  width: 80vh;
}

.imgRec{
  width: 80vh;
}

.imgCon{
  width: 80vh;
}
*/
/*
  .shadow-pop-br{-webkit-animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both;animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both}
*/
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (min-width: 40em) {
  .carousel-caption {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
/*
.card-img-top{
    height: 50px;
    width: 100vh;
}

.card{
    display: flex;
    align-items: center;
    text-align: center;

}
*/

/*# sourceMappingURL=estilos.css.map */
