.paginaPrincipal{
    
       margin: 0; 
       box-sizing: border-box;
       font-family: Arial, Helvetica, sans-serif;
           .cuerpoPrincipal{
                background-image: url(../assets/imagenes/fondoalimentos.png);
               /*background-color: #085218;*/
               position: relative;
               .carousel-item{
                   height: 70vh;
                   .carousel-inner{
                       width: 90%;
                   }  
                   .colorTitulo{
                    color: #050505;
                   }      
               }
               .separador{
               color: #301a91;
               .imgServ{
                   width: 80vh;
               }
               .inicioEjemplo{
                color: map-get($map: $color-link, $key:letra );
               }
               .textoParrafo{
                color: #04AA6D;
               }
             }   .imgRec{
                    width: 80vh;
             }   .imgCon{
                    width: 80vh;
                }
                .barra{
                    background: radial-gradient(circle farthest-corner at center center, #1d00ff 0%, #ffb100 80%);
                   border: #2C3B2F;
                }
                .letra{
                   color: map-get($map: $color-link, $key: "secundario" );
                }
                .card{
                   display: flex;
                   align-items: center;
                   text-align: center;
                }
                .cartaPresentacion{
                   display: flex;
                   .cartaCuerpo{
                       text-align: center; 
                   }
                }
                
                .recetario{
                   margin: 10px 10px;
                   .imagenComida{
                       width: 100vh;
                       height: 200px;
                   }
                }
                .imagenServicio{
                   height: 100px;
                   width: 100vh;
                   display: flex;
                }
                .letraLista{
                   color: map-get($map: $color-letra, $key:"letra" );
                }
           
               .imgServ{
                   width: 80vh;
               }
               .imgRec{
                   width: 80vh;
               }
               
               .imgCon{
                   width: 80vh;
               }
               
               .card-img-top{
                   height: 50px;
                   width: 100vh;
               }
               .carta{
                background: linear-gradient(66deg,#ff0000 0%, #009dff 80%);
                box-shadow: -17px 12px 132px 19px rgba(0,0,0,0.76);
                  .imgMia{
                    height: 100%;
                  }
               }
               .linkTurno{
                 color:map-get($map: $color-link, $key:"link" );
               }
               .linkReceta{
                 color: map-get($map: $color-link, $key:"link" );
               }
               .mapa{
                height: 300px;
                text-align: center;
                padding-left: 38%;
                opacity: 1;
                display: block;
                width: 100%;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
              }
              .divCont{
                /*width: 50%;*/
                padding-right: 28%;
                .divImagen{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .divCont:hover.mapa{
                opacity: 0.3;
              }
              .divCont:hover.medio{
                opacity: 1;
              }
              .medio{
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
              }
              .texto{
                background-color: #04AA6D;
                color: white;
                font-size: 16px;
                padding: 16px 32px;
              }
              .botones{
                align-items: center;
                text-align: center;
                margin: 2px;
              }
              .botonCampo{
                background-color: map-get($map: $color-boton, $key:"boton" );
              }
               

               }
   
   
               
               
   }
    
   body {
    padding-top: 3em;
    color: #5a5a5a;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
  } 