.piePagina{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: flex;
        .shadow-pop-br{
            .shadow-pop-br{-webkit-animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both;animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both}
        }
        border: 4px solid #ff9050;


}