$font-family: Arial, Helvetica, sans-serif;
$color-primario:#085218;
$color-secundario:aqua;
$contenido: center;
$width-row: 80vh;
$color-letra:chocolate;
$color-boton:#940442;
$color-link:#ff0000;
    
