@import "variables";
@import "reset";
@import "body";
@import "footer";















   










    











/*
.piePagina{
    position: sticky;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: flex;
}
*/

/*
  .carousel-item{
    height: 70vh;
  }
    .carousel-inner{
        width: 90%;
    }
*/

    


  
  /*  
  .imgServ{
    width: 80vh;
  }

  .imgRec{
    width: 80vh;
  }

  .imgCon{
    width: 80vh;
  }
  */
  /*
  .shadow-pop-br{-webkit-animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both;animation:shadow-pop-br .3s cubic-bezier(.47,0.000,.745,.715) both}
*/
  
  
@media (min-width: 62em) {
    .featurette-heading{
        margin-top: 7rem;
    }
  }
@media (min-width:768px) {
    .bd-placeholder-img-lg{
        font-size: 3.5rem;
    }
}

@media (min-width:40em) {
    .carousel-caption{
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading{
        font-size: 50px;
    }
}
/*
.card-img-top{
    height: 50px;
    width: 100vh;
}

.card{
    display: flex;
    align-items: center;
    text-align: center;
   
}
*/
